# Auto detect text files and perform LF normalization
* text=auto
# Created by https://www.toptal.com/developers/gitignore/api/python,windows,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=python,windows,visualstudiocode

